#a{
margin-top:100px;
margin-left:500px;
width:400px;
height:500px;
padding:20px;
text-align:center;
background:orange;

}
hr{
margin-left:25px;
width:350px;
background:white;
height:2px;
border:0;
}
h1{
color:purple;
}
input{
width:250px;
height:30px;
border:2px #ccc solid;
border-radius:10px;
background:white;
}
textarea{
border-radius:10px;
}
#b{
border:0px;
background:purple;
color:white;
height:40px;
border-radius:30px;
font-size:19px
}